<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36262739440-0gse9qn6ra68b3h3p4hk5kt4pni6hh8a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36262739440-0gse9qn6ra68b3h3p4hk5kt4pni6hh8a</string>
	<key>API_KEY</key>
	<string>AIzaSyBWqROK-k8Z9gDT2n7Cang-6UnwxxVHGMo</string>
	<key>GCM_SENDER_ID</key>
	<string>36262739440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jasmine.Jamie</string>
	<key>PROJECT_ID</key>
	<string>jamie-8c880</string>
	<key>STORAGE_BUCKET</key>
	<string>jamie-8c880.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:36262739440:ios:818806beacd938ca973135</string>
	<key>DATABASE_URL</key>
	<string>https://jamie-8c880.firebaseio.com</string>
</dict>
</plist>
